{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Portfolio</title>
</head>
<body>
    <h1>Welcome to My Portfolio</h1>

    <section id="about" style="margin: 20px; padding: 20px;">
        <div style="display: flex; justify-content: space-between; align-items: flex-start;">
            <!-- About Section -->
            <div style="width: 60%; padding: 20px;">
                <h2>About</h2>
                <p>
                    I am eager to begin my career in software development after completing my MCA postgraduate degree. 
                    Proficient in computer applications, with a solid foundation in front-end and back-end technologies, 
                    including HTML, CSS, JavaScript, I am well-equipped to contribute to innovative projects and solutions. 
                    During my academic journey, I immersed myself in various projects and coursework that honed my technical 
                    skills and problem-solving abilities.
                </p>
                <p>
                    I thrived in collaborative environments and leveraged my creativity to develop intuitive user interfaces 
                    and efficient backend systems. My passion for learning and exploring new technologies drives me to stay 
                    updated with industry trends and best practices. I am particularly interested in opportunities that allow 
                    me to work on cross-functional teams and tackle diverse challenges.
                </p>
                <p>
                    I am excited about the prospect of contributing to the development of scalable web applications that 
                    deliver exceptional user experiences. As a proactive and adaptable individual, I am ready to embrace 
                    new challenges and make meaningful contributions to the success of your organization.
                </p>
            </div>
            <!-- Basic Information -->
            <div style="width: 35%; padding: 20px; border: 1px solid #ccc; border-radius: 8px; background-color: #f9f9f9;">
                <h3>Basic Information</h3>
                <p><strong>NAME:</strong> Mahadev Jelugadekar</p>
                <p><strong>AGE:</strong> 24</p>
                <p><strong>EMAIL:</strong> mahadevj2618@gmail.com</p>
                <p><strong>PHONE:</strong> +91-7022109329</p>
                <p><strong>ADDRESS:</strong> Belagavi, Karnataka</p>
                <p><strong>LANGUAGE:</strong> Marathi, English, Kannada, Hindi</p>
            </div>
        </div>
    </section>


    <section class="container my-5" id="skills">
        <h2 class="text-center mb-4">Skills</h2>
        <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-4 text-center">
            <div class="col">
                <div class="card h-100 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">HTML</h5>
                        <p class="card-text"><i class="fa-brands fa-html5 fa-3x"></i></p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">CSS</h5>
                        <p class="card-text"><i class="fa-brands fa-css3-alt fa-3x"></i></p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">Java</h5>
                        <p class="card-text"><i class="fa-brands fa-js fa-3x"></i></p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">SpringBoot</h5>
                        <p class="card-text"><i class="fa-brands fa-js fa-3x"></i></p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">Boostrap</h5>
                        <p class="card-text"><i class="fa-brands fa-js fa-3x"></i></p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">MySQL</h5>
                        <p class="card-text"><i class="fa-brands fa-js fa-3x"></i></p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">Python</h5>
                        <p class="card-text"><i class="fa-brands fa-python fa-3x"></i></p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">Django</h5>
                        <p class="card-text"><i class="fa-solid fa-server fa-3x"></i></p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">SQL</h5>
                        <p class="card-text"><i class="fa-solid fa-database fa-3x"></i></p>
                    </div>
                </div>
            </div>
        </div>
    </section><br><br>
    
    


    <section class="projects-section py-5 bg-light">
        <div class="container">
            <h1 class="text-center mb-4">Projects</h1>
            <div class="row g-4">
                {% for project in projects %}
                    <div class="col-md-6 col-lg-4">
                        <div class="card shadow-sm h-100">
                            <div class="card-body">
                                <h2 class="card-title">{{ project.title }}</h2>
                                <p class="card-text">{{ project.description }}</p>
                                <img src="{{ project.image.url }}" alt="{{ project.title }}" width="150" height="150">
                                <div class="d-flex justify-content-between">
                                    <a href="{{ project.live_link }}" target="_blank" class="btn btn-primary btn-sm">Live Demo</a>
                                    <a href="{{ project.source_code }}" target="_blank" class="btn btn-secondary btn-sm">Source Code</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    
    

    <div class="section" id="experience">
        <div class="container cc-experience">
          <div class="h4 text-center mb-4 title">Work Experience</div>
          
          <!-- First Experience Card -->
          <div class="card mb-4">
            <div class="row">
              <div class="col-md-3 bg-primary text-white p-3" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                <div class="card-body cc-experience-header">
                  <p>January 2024 – present</p>
                  <div class="h5">KodNest</div>
                </div>
              </div>
              <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                <div class="card-body">
                  <div class="h5">INTERNSHIP, Software Development Intern</div>
                  <p>Intern at KodNest, where I acquired practical skills in Python, Java, MySQL, Frontend Technology, Manual Testing, contributing to real-world projects and learning directly from industry professionals</p>
                </div>
              </div>
            </div>
          </div>
      
          <!-- Second Experience Card -->
          <div class="card mb-4">
            <div class="row">
              <div class="col-md-3 bg-primary text-white p-3" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                <div class="card-body cc-experience-header">
                  <p>May 2023 to Aug 2023</p>
                  <div class="h5">Infynow Software Solutions LLP</div>
                </div>
              </div>
              <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                <div class="card-body">
                  <div class="h5">INTERNSHIP-PYTHON</div>
                  <p>At Infynow Software Solutions LLP, from 1st May 2023 to 31st Aug 2023, I worked on a project related to Web Design and Development using Python.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="section" id="education">
        <div class="container cc-education">
          <div class="h4 text-center mb-4 title">Education</div>
          
          <!-- First Education Card -->
          <div class="card mb-4">
            <div class="row">
              <div class="col-md-3 bg-primary text-white p-3" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                <div class="card-body cc-education-header">
                  <p>December 2023</p>
                  <div class="h5">Master's Degree</div>
                </div>
              </div>
              <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                <div class="card-body">
                  <div class="h5">MCA</div>
                  <p class="category">Rani Channamma University, Belagavi, Karnataka</p>
                  <p>Master of Computer Application (MCA)</p>
                  <p>CGPA: 7.5</p>
                </div>
              </div>
            </div>
          </div>
      
          <!-- Second Education Card -->
          <div class="card mb-4">
            <div class="row">
              <div class="col-md-3 bg-primary text-white p-3" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                <div class="card-body cc-education-header">
                  <p>2021</p>
                  <div class="h5">Bachelor's Degree</div>
                </div>
              </div>
              <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                <div class="card-body">
                  <div class="h5">B.COM</div>
                  <p>Bachelor of Commerce (B.COM)</p>
                  <p>Maratha Mandal Arts, Commerce, Science, and Home Science College, Belgaum, Karnataka</p>
                  <p>Percentage: 59%</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      


    <section>
        <h2>Blog</h2>
        <ul>
            {% for post in blog_posts %}
                <li>
                    <h3>{{ post.title }}</h3>
                    <p>{{ post.content|slice:":100" }}...</p>
                    <a href="/blog/">Read More</a>
                </li>
            {% endfor %}
        </ul>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
